---
layout: default
---
<section 
class="hero is-medium has-text-centered
{% unless page.image-url %}
    is-primary
{% endunless%}
" 
style="
    {% if page.image-url %}
    background-image:url('{{ page.image-url }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    {% endif %}
    ">
    <section class="hero-body">
        <h1 class="title">
            {{ page.title }}
        </h1>
        <p class="subtitle">
            {{page.subtitle}}
        </p>
    </section>
</section>
<section class="section">
    <div class="container">
        {{ content }}
    </div>
</section>